.container {
    margin: 100px auto;
    height: auto
}

#slider1_container {
    margin: 0 auto;
    position: relative;
    top: 0px;
    left: 0px;
    width: 950px;
    height: 310px
}

.sliders {
    cursor: move;
    position: absolute;
    overflow: hidden;
    width: 950px;
    height: 310px
}

.sliders p {
    position: relative;
    width: 320px;
    height: 310px;
    padding-left: 30px;
    padding-top: 30px;
    float: right;
    color: white;
    margin: 0;
    background-color: rgba(1, 22, 35, 0.5)
}

.sliders .leftSlide {
    float: left;
    color: white;
    font-size: 40px;
    width: 500px;
    z-index: 1;
    padding-top: 20px;
    padding-left: 30px;
    position: absolute
}

.sliders .leftSlide h4 {
    font-weight: 400;
    margin: 0
}

.jssort01 {
    width: 160px;
    height: 20px;
    margin: 0 auto;
    top: 325px !important;
    left: 0px;
    bottom: 0px
}

.lengthclass {
    width: 130px;
    margin-left: 120px;
    text-align: center
}

.p {
    z-index: 100;
    height: 70px
}

.w {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    z-index: 100;
    border: 1px solid green;
    background-color: green;
    border-radius: 50px
}

.t {
    width: 30px;
    z-index: 100;
    margin: 15px auto;
    padding-left: 3px
}

.navcontrol {
    margin-top: 291px;
    height: 100px;
    background-color: #e0e0e0;
    z-index: 100
}

.arrows {
    margin-top: 30px;
    width: 950px;
    z-index: 1
}

.arrows .jssora01l {
    float: left;
    z-index: 1;
    opacity: 0.5;
    margin-top: 10px;
    padding-left: 10px;
    position: absolute;
    transition: ease 0.3s
}

.arrows .jssora01l:hover {
    opacity: 1;
    transition: ease 0.3s
}

.arrows .jssora01r {
    margin-top: -28px;
    padding-right: 10px;
    float: right;
    opacity: 0.5;
    transition: ease 0.3s
}

.arrows .jssora01r:hover {
    opacity: 1;
    transition: ease 0.3s
}
